<h2> Drone Details </h2>

<ul>

    <li>
      <h3> <%= drone.droneName %> </h3>
      <p> Number of propellors: <%= drone.propellers %> <p>
      <p> Max Speed: <%= drone.maxSpeed %> </p>
    </li>

</ul>